* {
    font-family: sans-serif;
}

header {
    background-color: bisque;
    padding: 50px 240px;
}

.G3 {
    font-size: 30px;
}

.title {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
}

.hero {
    text-align: center;

}

.hero img {
    width: 100%;
    margin-top: 10px;
}

button {
    padding: 15px;
    background-color: rebeccapurple;
    border-radius: 5px;
    color: white;
    border: none;
}

.secound-items {
    display: flex;
    padding: 50px 270px;
    gap: 30px;
    align-items: center;
}

.colour {
    color: blueviolet;
}

.size {
    font-weight: 200;
}

.bold {
    font-weight: 700;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team img {
    width: 200px;
}

.vl {
    border-left: 6px solid rebeccapurple;
    height: 160px;
    border-radius: 2px;
}

.border {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.86);
    margin-top: 10px;
}

.line {
    display: flex;
    align-items: center;
    gap: 15px;
}

.architect {
    display: flex;
    padding: 50px 240px;
    gap: 10px;
}

.line {
    display: flex;
}

.architect img {
    width: 400px;
    height: 800px;
    position: relative;
}

.Experience {
    background-color: blueviolet;
    color: white;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 70px;
    left: 20px;

}

.awards {
    padding: 50px 240px;
}

.award {
    display: flex;
    justify-content: space-evenly;

}

.icons-border {
    border: 3px solid blueviolet;
    padding: 10px;
    width: 120px;
    text-align: center;
}
.Sponspors{
    text-align: center;
}
.IMGAGE{
    filter:  grayscale(100%);
    display: flex;
    justify-content: space-evenly;
    padding: 50px 240px;
    height: 30px;
}
.copyright{
    background-color: bisque;
    border:1px solid;
    width:700px ;
    margin-left: 270px;
    padding: 20px;
    text-align: center;
    border-radius: 2px;
    border-style: none;
}


@media screen and (max-width:570px) {

    nav,
    .architect,
    .award{
        flex-direction: column;
    }

    header,
    .secound-items,
    .architect {
        padding: 5px;
    }

    .team {
        grid-template-columns: repeat(1, 1fr);
    }

    .team img {
        width: 100%;
    }

    .secound-items {
        flex-direction: column-reverse;
    }

    .middle {
        text-align: center;
    }

    .architect img {
        height: 100%;
        width: 100%;
        margin-top: 10px;
    }

    .award {
        margin-left: 120px;
    }

    .awards {
        padding: 5px;
        text-align: center;
    }
    .icons-border{
        margin-top: 15px;
    }
    .IMGAGE{
        flex-direction: column;
        width:30% ;
        margin-top: 25px;
        padding: 5px;
        margin-left: 120px;
        gap: 30px;
    }
    .copyright{
        display: none;
    }
    
}